{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block extrastyle %}
{{ block.super }}
<style>
@media (max-width: 640px) {
    html, body {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }
    #container, #content, #content-main {
        width: 100%;
        max-width: 100%;
        min-width: 0;
    }
    #changelist-search form {
        display: grid;
        grid-template-columns: 1fr auto auto;
        grid-row-gap: 10px;
        align-items: center;
        width: 100%;
    }
    #changelist-search .searchbar-row {
        display: contents;
    }
    #changelist-search input[type="text"] {
        grid-column: 1 / -1;
        width: 100%;
        box-sizing: border-box;
    }
    #changelist-search input[type="submit"] {
        grid-column: 1;
        width: 100%;
    }
    #changelist-search .button {
        grid-column: 2;
        width: 100%;
    }
    #changelist table,
    #changelist .results {
        width: 100%;
        max-width: 100%;
        display: block;
        overflow-x: auto;
    }
}
</style>
{% endblock %}

{% block search %}
{% if cl.search_fields %}
<div id="changelist-search">
    <form method="get">
        <div class="searchbar-row">
            <label for="searchbar">{% trans "Search" %}:</label>
            <input type="text" size="40" name="{{ cl.search_var }}" value="{{ cl.query }}" id="searchbar" autofocus>
            {% for key, val in cl.params.items %}
                {% if key != cl.search_var %}<input type="hidden" name="{{ key }}" value="{{ val }}">{% endif %}
            {% endfor %}
        </div>
        <input type="submit" value="{% trans 'Search' %}" class="button">
        <a class="button" href="{% url cl.opts|admin_urlname:'changelist' %}">{% trans "Reload" %}</a>
    </form>
</div>
{% endif %}
{% endblock %}
